:root {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;

  --black: #121212;
  --black-soft: #1D1D1D;
  --black-gradient: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
  --brown: #BEA69E;
  --white: #FFFFFF;

  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.header-hero-wrapper {
  position: relative;
  background-image: url("../../img/header-hero-background-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header-hero-wrapper {
    background-image: url("../../img/header-hero-background-tablet.png");
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .header-hero-wrapper {
    background-image: url("../../img/header-hero-background-desktop.png");
  }
}