<footer class="footer" id="footer">
  <div class="container">
    <div class="container-inner">
      <div class="footer-top">
        <img src="./img/logo-focusframe.svg" alt="" />
        <a href="tel:+380665438912">+38 066 543 8912</a>
        <address>1678 S. Pioneer Road Salt Lake City UT 84104</address>
      </div>

      <div class="footer-links">
        <ul class="social">
          <li>
            <a href="https://www.instagram.com/goit.turkiye/" target="_blank"
              >INSTAGRAM</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
              target="_blank"
              >FACEBOOK</a
            >
          </li>
          <li>
            <a href="https://m.youtube.com/@GoITTurkey" target="_blank"
              >YOUTUBE</a
            >
          </li>
        </ul>

        <ul class="menu">
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">OUR COURSES</a></li>
          <li><a href="#">OUR MENTORS</a></li>
          <li><a href="#">REVIEWS</a></li>
          <li><a href="#">CONTACTS</a></li>
        </ul>
      </div>

      <form class="footer-form">
        <input
          type="email"
          placeholder="Enter your email"
          required
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
        />
        <button type="submit">Go</button>
      </form>
    </div>

    <div class="footer-bottom">
      <p>
        <a href="#">Privacy Policy</a> <br />
        Public Offering Agreement
      </p>
      <p>
        2024 Focus Frame <br />
        © All rights reserved
      </p>
    </div>
  </div>
</footer>
