<header>
  <div class="container">
    <div class="menu">
      <div class="menu-left">
        <a href="#">
          <svg class="logo">
            <use href="../img/header-icons.svg#logo-focusframe"></use>
          </svg>
        </a>
      </div>
      <div class="menu-right">
        <ul class="menu-list">
          <li><a href="#about-us" class="active">About Us</a></li>
          <li><a href="#our-courses">Our Courses</a></li>
          <li><a href="#our-mentors">Our Mentors</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#contacts">Contacts</a></li>
        </ul>
        <button class="camera-btn" type="button">
          <svg width="16" height="16">
            <use href="../img/header-icons.svg#icon-camera"></use>
          </svg>
        </button>
        <button class="nav-btn">
          <svg width="32" height="22">
            <use href="../img/header-icons.svg#icon-nav"></use>
          </svg>
        </button>
      </div>
    </div>
    <a href="#sign-up">
      <button class="signup-btn" type="button">Sign Up</button>
    </a>
  </div>
  <!-- mobile menu -->
  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close" type="button">
        <svg width="16" height="16">
          <use href="../img/header-icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-nav">
        <ul class="mobile-nav-list">
          <li class="mobile-nav-link mobile-menu-active">
            <a href="#">About Us</a>
          </li>
          <li class="mobile-nav-link"><a href="#">Our Courses</a></li>
          <li class="mobile-nav-link"><a href="#">Our Mentors</a></li>
          <li class="mobile-nav-link"><a href="#">Reviews</a></li>
          <li class="mobile-nav-link"><a href="#">Contacts</a></li>
        </ul>
      </nav>
    </div>
    <img
      src="../img/menu.jpg"
      srcset="./img/menu.jpg 1x, ./img/menu.jpg 2x"
      alt="menu"
    />
  </div>
</header>
