<header id="header">
  <div class="container">
    <div class="header-inner-left-div">
      <div class="header-logo-div">
        <a href="#">
          <svg class="header-logo">
            <use href="./img/header-icons.svg#logo-focusframe"></use>
          </svg>
        </a>
      </div>
      <div class="header-menu-div">
        <ul class="header-menu-ul">
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#our-courses">Our Courses</a></li>
          <li><a href="#our-mentors">Our Mentors</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#contacts">Contacts</a></li>
        </ul>
        <div class="header-mobile-menu-icons">
          <a href="#signup" class="camera-btn">
            <svg class="camera-logo">
              <use href="./img/header-icons.svg#icon-camera"></use>
            </svg>
          </a>
          <button class="nav-btn">
            <svg class="nav-logo">
              <use href="./img/header-icons.svg#icon-nav"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="header-inner-right-div">
      <a href="#signup" class="header-signup-btn">Sign Up</a>
    </div>
  </div>
  <!-- overlay -->
  <div class="overlay"></div>
  <!-- mobile menu -->
  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-container">
      <button class="menu-close-btn" type="button" aria-label="Close menu">
        <svg class="close-logo">
          <use href="./img/header-icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-nav">
        <ul class="mobile-menu-ul">
          <li><a href="#about-us" class="menu-active">About Us</a></li>
          <li><a href="#our-courses">Our Courses</a></li>
          <li><a href="#our-mentors">Our Mentors</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>
    <div class="menu-image-wrapper">
      <img
        src="./img/menu-mobile.webp"
        srcset="
          ./img/menu-mobile.webp     329w,
          ./img/menu-mobile@2x.webp  658w,
          ./img/menu-tablet.webp     500w,
          ./img/menu-tablet@2x.webp 1000w
        "
        sizes="(min-width: 768px) 500px, 329px"
        width="329"
        height="218"
        alt="Menu Image"
        class="menu-image"
      />
    </div>
  </div>
</header>
