<header id="header">
  <div class="container">
    <div class="header-inner-left-div">
      <div class="header-logo-div">
        <a href="#">
          <svg class="header-logo">
            <use href="../img/header-icons.svg#logo-focusframe"></use>
          </svg>
        </a>
      </div>
      <div class="header-menu-div">
        <ul class="header-menu-ul">
          <li><a href="#about-us" class="active">About Us</a></li>
          <li><a href="#our-courses">Our Courses</a></li>
          <li><a href="#our-mentors">Our Mentors</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#contacts">Contacts</a></li>
        </ul>
        <div class="header-mobile-menu-icons">
          <a href="#sign-up" class="camera-btn">
            <svg class="camera-logo">
              <use href="../img/header-icons.svg#icon-camera"></use>
            </svg>
          </a>
          <button class="nav-btn">
            <svg class="nav-logo">
              <use href="../img/header-icons.svg#icon-nav"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="header-inner-right-div">
      <a href="#sign-up" class="header-signup-btn">Sign Up</a>
    </div>
  </div>
</header>

<!-- mobile menu 

  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close" type="button">
        <svg width="16" height="16">
          <use href="../img/header-icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-nav">
        <ul class="mobile-nav-list">
          <li class="mobile-nav-link mobile-menu-active">
            <a href="#about-us">About Us</a>
          </li>
          <li class="mobile-nav-link">
            <a href="#our-courses">Our Courses</a>
          </li>
          <li class="mobile-nav-link">
            <a href="#our-mentors">Our Mentors</a>
          </li>
          <li class="mobile-nav-link"><a href="#reviews">Reviews</a></li>
          <li class="mobile-nav-link"><a href="#contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>
    <img
      src="../img/menu.jpg"
      srcset="./img/menu.jpg 1x, ./img/menu.jpg 2x"
      alt="menu"
    />
  </div>

-->
