<div class="container">
  <section class="our-mentors" id="our-mentors">
    <h2>Our <span class="h2-span">Mentors</span></h2>
    <ul>
      <li>
        <div class="card">
          <img
            src="img/emilia.jpg"
            alt="Emilia Smith"
            srcset="img/emilia.jpg 1x, img/emilia@2x.jpg 2x"
          />
          <h3>Emilia Smith</h3>
          <p>1.5 years experience</p>
        </div>
      </li>

      <li>
        <div class="card">
          <img
            src="img/alex.jpg"
            alt="Alex Lebedev"
            srcset="img/alex.jpg 1x, img/alex@2x.jpg 2x"
          />
          <h3>Alex Lebedev</h3>
          <p>3.5 years experience</p>
        </div>
      </li>

      <li>
        <div class="card">
          <img
            src="img/mia.jpg"
            alt="Mia Dubrovska"
            srcset="img/mia.jpg 1x, img/mia@2x.jpg 2x"
          />
          <h3>Mia Dubrovska</h3>
          <p>2.0 years experience</p>
        </div>
      </li>

      <li>
        <div class="card">
          <img
            src="img/eliot.jpg"
            alt="Eliot Kovalev"
            srcset="img/eliot.jpg 1x, img/eliot@2x.jpg 2x"
          />
          <h3>Eliot Kovalev</h3>
          <p>4.0 years experience</p>
        </div>
      </li>
    </ul>
  </section>
</div>
