<div class="container">
  <section class="reviews" id="reviews">
    <h2>Reviews</h2>

    <ul>
      <li>
        <div class="reviews-card-top">
          <div class="reviews-person">
            <img
              src="img/abraham.jpg"
              alt="Abraham Baker"
              srcset="img/abraham.jpg 1x, img/abraham@2x.jpg 2x"
            />
            <div class="reviews-person-info">
              <h3>Abraham Baker</h3>
              <p class="reviews-title">Student</p>
            </div>
          </div>

          <div class="reviews-stars" aria-label="4 out of 5 stars">
            <svg class="icon icon-star" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="icon icon-star" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="icon icon-star" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="icon icon-star" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="icon icon-star-empty" aria-hidden="true">
              <use href="./img/icons.svg#icon-star-empty"></use>
            </svg>
          </div>
        </div>

        <p>
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>

      <li>
        <div class="reviews-card-top">
          <div class="reviews-person">
            <img
              src="img/amanda.jpg"
              alt="Amanda Lowery"
              srcset="img/amanda.jpg 1x, img/amanda@2x.jpg 2x"
            />
            <div class="reviews-person-info">
              <h3>Amanda Lowery</h3>
              <p class="reviews-title">Student</p>
            </div>
          </div>

          <div class="reviews-stars" aria-label="4 out of 5 stars">
            <svg class="icon icon-star" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="icon icon-star" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="icon icon-star" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="icon icon-star" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
            <svg class="icon icon-star-empty" aria-hidden="true">
              <use href="./img/icons.svg#icon-star-empty"></use>
            </svg>
          </div>
        </div>

        <p>
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </section>
</div>
