<section class="signup" id="signup">
  <div class="container">
    <div class="signup-inner">
      <h2 class="signup-title"><span>Sign</span> Up</h2>
      <p class="signup-desc">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>

      <form class="signup-form">
        <input
          type="text"
          placeholder="Enter your name"
          required
          pattern="[A-Za-z\s]{2,}"
        />

        <input
          type="email"
          placeholder="Enter your email"
          required
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
        />

        <textarea placeholder="Message" required></textarea>

        <button type="submit">SEND</button>
      </form>

      <p class="signup-policy">
        By clicking on "Send" button, you agree to our
        <a href="#">Privacy Policy</a>, and allow Promodo to use this
        information for marketing purposes.
      </p>
    </div>
    <div class="signup-images">
      <div class="signup-img-lens">
        <img src="./img/signup-lens.webp" alt="Lens" />
      </div>
      <div class="signup-img-camera">
        <img src="./img/signup-camera.webp" alt="Camera" />
      </div>
    </div>
  </div>
</section>
